.createForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 500px;
}

.createForm label {
  margin-bottom: 5px;
}

.createForm__title {
  margin-bottom: 20px;
}

.createForm__button__container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.createForm__button {
  border-radius: 5px;
  padding: 5px 15px;
  background: #899878;
  outline: none;
  color: #f7f7f2;
  border: none;
}

.createForm__button:hover {
  background-color: #222725;
  color: #f7f7f2;
}
