.details__title {
  text-align: center;
  margin-top: 40px;
}

.details__title__span {
  text-decoration: underline;
}

.details__container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
}

.details__list {
  width: 650px;
  margin-top: 40px;
}

.details__span {
  float: right;
}

@media screen and (max-width: 450px) {
  .details__list {
    max-width: 380px;
  }
}
